$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
.blogPostContainer {
  max-width: 762px;
  .blogPostContent {
    margin-top: 1rem;
  }
}
@include desktop {
  .blogPostContainer {
    margin: 2rem 0 0 1rem;
    .blogPostContent {
      font-size: 1rem;
    }
  }
  .blogSideBar {
    margin-top: 2rem;
  }
}
